body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #aed389;
}

.register-container {
  display: flex;
  height: 200vh;
  justify-content: center;
  align-items: center;
}

.form-container2 {
  width: 30%;
  height: 190vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slideshow-container {
  width: 37.5%;
  height: 75%;
  margin-right: 10%;
  margin-top: 7%;
}

.input-container {
  margin-bottom: 20px;
  margin-left: 50px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 80%;
  padding: 10px;
  margin-bottom: -30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ccc;
}

.input-container select {
  width: 80%;
  padding: 10px;
  margin-bottom: -30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ccc;
}

.button-container button {
  width: 78%;
  padding: 10px;
  margin-left: 45px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-right: 50px;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signup-container a {
  font-size: 12px;
  color: blue;
  text-decoration: none;
  margin-left: 5px;
}

.password-strength-status {
  margin-top: 20px;
}
